<%- include('partials/header') %>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Your payment was succesfully processed!</p>
  <hr>
  <p class="mb-0">Feel free to make another payment or login in your page!</p>
</div>
