
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.pay-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.form-control{min-width:300px;}

.walletjumbo{
  padding-bottom: 0
}

.indexwallet{
  padding-top: 100px
}

.paytext{
  padding-bottom: 10;
  padding-top: 0;
}
